@font-face {
    font-family: Mont;
    src: url(../fonts/Mont-Heavy.ttf);
}

@font-face {
    font-family: "Golos";
    src: url(../fonts/Golos-UI_Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Golos";
    src: url(../fonts/Golos-UI_Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Golos";
    src: url(../fonts/Golos-UI_Bold.ttf);
    font-weight: 700;
}

$base: Golos;
$beton: Mont;

$blue: #3E44F4;
$yellow: #FFD233;
$black: #0B0000;
$dark-grey: #5F5F5F;
$grey: #CBCBCB;
$light-grey: #F4F5F7;

$mob:560px;


a {
    text-decoration: none;
}

h1 {

    font-family: Mont;
    font-size: clamp(2.25rem, 1.4545rem + 2.2727vw, 3.5rem);
    font-weight: 900;
    line-height: 72.8px;
    text-align: left;
    margin-bottom: 0;
    @media (max-width:$mob) {
      
        line-height: 1.3em;
    }
}

h2 {

    font-family: $base;
    font-size: 44px;
    font-weight: 700;
    line-height: 66px;
    text-align: left;
    margin-bottom: 0;
}

h3 {

    font-family: $base;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    margin-bottom: 0;
}

h4 {

    font-family: $base;
    font-size: 26px;
    font-weight: 700;
    line-height: 45.5px;
    text-align: left;
    margin-bottom: 0;
    @media (max-width:$mob) {
        line-height: normal;
    }

}

p {

    font-family: $base;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 0;
    @media (max-width:$mob) {
        font-size: 16px;
        line-height: 24px;
    }

}

section {
    padding: 80px 0;
    @media (max-width:$mob) {
        padding: 64px 0;
    }
}

@mixin p-bold {

    font-family: $base;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;

}

@mixin text-big {
    font-family: $base;
    font-size: 96px;
    font-weight: 700;
    line-height: 124.8px;

}

.text-big {
    display: flex;
    @include text-big;
}

.text-blue {
    color: $blue;
}

.text-yellow {
    color: $yellow;
}

.small {

    font-family: $base;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.button-primary {
    line-height: 20;
    padding: 16px 32px;
    background-color: $blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include p-bold;
    box-shadow: 0 8px 12px rgba(62, 68, 244, 0.16);
    &.btn-yellow{
        background-color: $yellow;
        color:$blue
    }
}

.button-secondary {
    padding: 16px 32px;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    @include p-bold;
}

.icon{
    line-height: normal;
}

.text-black {
    color: $black !important;
}

.text-dark-grey {
    color: $dark-grey;
}

.text-medium1 {
    @include p-bold;

    font-weight: 700;
    text-align: left;
    letter-spacing: 0.05em;


}

.top-menu {
    padding: 40px 0;
    box-shadow: 0 8px 12px #CBCBCB29;
    background-color: white;
    @media screen and (max-width: $mob) {
        padding: 24px 0;
        
    }

    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        font-family: $base;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;

    }
}

.top-bg {
    margin-top: 156px;
    background: -webkit-linear-gradient(left, $light-grey, $light-grey 60.5%, $yellow 60.5%, $yellow);
    @media (max-width:$mob) {
        background: none;
        margin-top: 144px;
    }
    .bg-mob-yellow{
       @media (max-width:$mob) {
        background-color: $yellow;
       } 
    }
    .bg-mob-grey{
       @media (max-width:$mob) {
        background-color: $light-grey;
        box-shadow: 0 4px 8px rgba(95, 95, 95, 0.16);
       }    
       
    }
  

    .decor {

        position: absolute;
        width: 33%;
        height: 40px;
        background-color: $yellow;
        display: block;

        left: 0;

        @media (max-width:$mob) {
            width: 88%;
        }
        &.bg-mob-white{
            @media (max-width:$mob) {
                background-color: white;
            }
            
           } 
    }

    h1 {
        margin-top: 181px;
        position: relative;
        z-index: 2;
        @media (max-width:$mob) {
            margin-top: 36px;
        }
    }

    .top-pic{
        @media (max-width:$mob) {
            width: 155%;
            object-fit: cover;
            height: 220px;
            object-position: -235px -195px;
        }
    }

    .gap-30 {
        gap: 30px
    }

    .buttons {
        margin-bottom: 240px;
        @media (max-width:$mob) {
            margin-bottom: 0;
        }
    }
}

.yellow-bg {
    background-color: $yellow;
    height: 40px;
}

.bg-blue {
    background-color: $blue;
    margin-top: 40px;
    height: 82%;
    @media (max-width:$mob) {
        height: 88%;
    }
}

.mixer {
    margin-left: -15px;
    margin-top: -42px;
}



.catalog {
    &__description {
        max-width: 796px;
        margin: 0 auto;
        margin-top: 24px;
    }

    &__item {
        margin-top: 80px;
        padding: 48px 40px;
        background-color: $light-grey;
        display: flex;
        flex-direction: column;

        gap: 24px;
        box-shadow: 0px 4px 8px 0px rgba(95, 95, 95, 0.16);
        height: 440px;
        
        @media (max-width:$mob) {
            box-sizing: content-box;
        }
        &-image {
            top: -40px;
            right: 0;
            
            @media (max-width:$mob) {

                text-align: right;
                img{
                    height: 80px;
                    object-fit: cover;
                    width: 80%;
                }
                
            }

        }
        &-decor{
            width: 50%;
            height: 14px;
            background-color: $yellow;
            @media (max-width:$mob) {
                width: 80%;
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-right: 34px;

        }

    

        
    }
}


.big-car {
    margin-top: 136px;
    text-align: right;
    @media (max-width:$mob) {
        margin-top: 80px;
    }

    img {
        max-height: 285px;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $yellow;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: -1;
    }
}
.g-28{
    column-gap: 28px;
}
.position-md-absolute{
    position: absolute;
    @media (max-width:$mob) {
        position: relative;
    }
}
.posluga{
    height: 100%;
    .title{
        background-color: rgba(0,0,0,0.3);
        padding: 0 24px;
    }
    .gap-32{
        
        @media (max-width:$mob) {
            gap: 32px;
        }
    }
    .img-wrapper__hover{
        padding: 24px 20px 20px;
        background-size: cover;
        background-blend-mode: multiply;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        @media (max-width:$mob) {
            display: flex;
            background-size: cover;
            background-position: center;
            background-blend-mode: multiply;
            padding: 48px 40px 40px;

        }

    }
    .title{
        @media (max-width:$mob) {
            display: none !important;
        }
        
  
    }
    &-desc{
        min-height: 99px;
    }
    &.ishover:hover{
        .title{
            display: none !important;
      
        }
        .img-wrapper__hover{
            display: flex;
            
        }
    }
    img{
        height: 100%;
        object-fit: cover;
    }
}

.bg-yellow{
    background-color: $yellow;
    @media (max-width:$mob) {
        padding-top: 80px;
    }
}

.h-500{
    height: 500px;
    @media screen and (max-width: $mob){
        height: auto;
    }
}
.map-wrapper{
    display: flex;
}
.contacts{
    &-wrapper{
        width: fit-content;
    }
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    box-shadow: 0 4px 8px rgba(95, 95, 95, 0.16);
    background-color: $light-grey;
    @media screen and (max-width: $mob) {
        margin-bottom: -80px;
        
    }
    &-title{
        font: 500 18px/1.5em $base;

    }
    &-data{
        font: 500 18px/1.5em $base;
        display: flex;
        flex-direction: column;
        gap:24px;
        &__item{
            display: flex;
            align-items: center;
            .icon{
                margin-right: 16px;
            }
        }
    }
}
.factory{
    background-color: $blue;
    padding: 80px 0 64px;
    @media screen and (max-width: $mob) {
        padding: 64px 0 0;
        
    }
}

.choose{
    &-list{
        margin-top: 42px;
        display: flex;
        gap:24px;
        flex-direction: column;
        &__item{
            display: flex;
            align-items: center;
            
            &::before{
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_101_402)'%3E%3Cpath d='M14 28C21.7322 28 28 21.7322 28 14C28 6.2678 21.7322 0 14 0C6.2678 0 0 6.2678 0 14C0 21.7322 6.2678 28 14 28Z' fill='%23FFD233'/%3E%3Cpath d='M7.66431 14.9052L11.2847 18.5257L20.3358 9.47461' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_101_402'%3E%3Crect width='28' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                content:'';
                display: block;
                width: 28px;
                height: 28px;
                margin-right: 16px;
            }
        }
    }
    .buttons{
        margin-top: 40px;
    }
}

footer{
    .nav-link {
        color:$light-grey
    }
    background-color: $black;
    .texts{
        padding: 80px 0; 
    }
    .copyright{
        padding: 40px 0;
        border-top: solid 1px $grey;
        @media screen and (max-width: $mob) {
            padding: 40px 0 64px;
            
        }
    }
   
}

#modalForm{
    .modal-content{
        padding: 40px 40px 64px;
        background-color: $light-grey;
        box-shadow: 0 8px 12px rgba(95, 95, 95, 0.16);
        border-radius: 0;
        max-width: 480px;
        @media screen and (max-width: $mob) {
            padding: 24px;
            width: 100%;
        }
    }
    .gap-32{
        gap: 32px;
    }
    ::placeholder{
        color: $grey;
        font-family: $base;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
    input, textarea{
        padding: 16px 24px;
        border: 1px solid $grey;
        border-radius: 0;
        font-family: $base;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: $dark-grey;
        width: 100%;
        display: inline-block;
        margin-top: 16px;
        @media screen and (max-width: $mob) {
            padding: 16px 16px;
            
        }
    }
    input{
        height: 43px;
    }
    .modal-body{
        margin-top: 32px;
    }
    button:not(.btn-close){
        padding: 16px 32px;
        background-color: $blue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $base;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;
        box-shadow: 0 8px 12px rgba(62, 68, 244, 0.16);
        border: none;
        border-radius: 0;
        margin-top: 40px;
        @media screen and (max-width: $mob) {
            padding: 16px 32px;
            
        }
    }

    .btn-close{
        right: 16px;
        top:16px;
    }

    
}